<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MudletPackage>
<MudletPackage version="1.0">
    <TriggerPackage>
        <TriggerGroup isActive="yes" isFolder="yes" isTempTrigger="no" isMultiline="no" isPerlSlashGOption="no" isColorizerTrigger="no" isFilterTrigger="no" isSoundTrigger="no" isColorTrigger="no" isColorTriggerFg="no" isColorTriggerBg="no">
            <name>3k_mapper</name>
            <script></script>
            <triggerType>0</triggerType>
            <conditonLineDelta>52</conditonLineDelta>
            <mStayOpen>0</mStayOpen>
            <mCommand></mCommand>
            <mFgColor>#ff0000</mFgColor>
            <mBgColor>#ffff00</mBgColor>
            <mSoundFile></mSoundFile>
            <colorTriggerFgColor>#000000</colorTriggerFgColor>
            <colorTriggerBgColor>#000000</colorTriggerBgColor>
            <regexCodeList/>
            <regexCodePropertyList/>
            <TriggerGroup isActive="yes" isFolder="yes" isTempTrigger="no" isMultiline="no" isPerlSlashGOption="no" isColorizerTrigger="no" isFilterTrigger="no" isSoundTrigger="no" isColorTrigger="no" isColorTriggerFg="no" isColorTriggerBg="no">
                <name>parse_room</name>
                <script></script>
                <triggerType>0</triggerType>
                <conditonLineDelta>99</conditonLineDelta>
                <mStayOpen>0</mStayOpen>
                <mCommand></mCommand>
                <mFgColor>#ff0000</mFgColor>
                <mBgColor>#ffff00</mBgColor>
                <mSoundFile></mSoundFile>
                <colorTriggerFgColor>#000000</colorTriggerFgColor>
                <colorTriggerBgColor>#000000</colorTriggerBgColor>
                <regexCodeList/>
                <regexCodePropertyList/>
                <Trigger isActive="yes" isFolder="no" isTempTrigger="no" isMultiline="no" isPerlSlashGOption="no" isColorizerTrigger="no" isFilterTrigger="no" isSoundTrigger="no" isColorTrigger="yes" isColorTriggerFg="yes" isColorTriggerBg="no">
                    <name>room_name</name>
                    <script>room_name = matches[2]
room_exits = matches[3]

enableTrigger(&quot;room_desc&quot;)</script>
                    <triggerType>0</triggerType>
                    <conditonLineDelta>99</conditonLineDelta>
                    <mStayOpen>0</mStayOpen>
                    <mCommand></mCommand>
                    <mFgColor>#ff0000</mFgColor>
                    <mBgColor>#ffff00</mBgColor>
                    <mSoundFile></mSoundFile>
                    <colorTriggerFgColor>#808000</colorTriggerFgColor>
                    <colorTriggerBgColor>#000000</colorTriggerBgColor>
                    <regexCodeList>
                        <string>(.*) \((.*)\)\s+.*-\*-.*$</string>
                    </regexCodeList>
                    <regexCodePropertyList>
                        <integer>1</integer>
                    </regexCodePropertyList>
                </Trigger>
                <Trigger isActive="no" isFolder="no" isTempTrigger="no" isMultiline="no" isPerlSlashGOption="no" isColorizerTrigger="no" isFilterTrigger="no" isSoundTrigger="no" isColorTrigger="yes" isColorTriggerFg="yes" isColorTriggerBg="no">
                    <name>room_desc</name>
                    <script>if room_desc == &quot;&quot; then
  room_desc = matches[1]
else
  room_desc = room_desc..&quot; &quot;..matches[1]
end

enableTrigger(&quot;prompt&quot;)</script>
                    <triggerType>0</triggerType>
                    <conditonLineDelta>99</conditonLineDelta>
                    <mStayOpen>0</mStayOpen>
                    <mCommand></mCommand>
                    <mFgColor>#ff0000</mFgColor>
                    <mBgColor>#ffff00</mBgColor>
                    <mSoundFile></mSoundFile>
                    <colorTriggerFgColor>#808000</colorTriggerFgColor>
                    <colorTriggerBgColor>#000000</colorTriggerBgColor>
                    <regexCodeList>
                        <string>FG8BG0</string>
                    </regexCodeList>
                    <regexCodePropertyList>
                        <integer>6</integer>
                    </regexCodePropertyList>
                </Trigger>
                <Trigger isActive="no" isFolder="no" isTempTrigger="no" isMultiline="no" isPerlSlashGOption="no" isColorizerTrigger="no" isFilterTrigger="no" isSoundTrigger="no" isColorTrigger="no" isColorTriggerFg="no" isColorTriggerBg="no">
                    <name>prompt</name>
                    <script>--setTriggerStayOpen(&quot;room_desc&quot;,0)

--display(room_desc)
--display(room_exits)
--display(room_name)

room_desc = &quot;&quot;

raiseEvent(&quot;onRoomSeen&quot;, room_name, room_exits, room_desc)
disableTrigger(&quot;room_desc&quot;)
disableTrigger(&quot;prompt&quot;)
</script>
                    <triggerType>0</triggerType>
                    <conditonLineDelta>0</conditonLineDelta>
                    <mStayOpen>0</mStayOpen>
                    <mCommand></mCommand>
                    <mFgColor>#ff0000</mFgColor>
                    <mBgColor>#ffff00</mBgColor>
                    <mSoundFile></mSoundFile>
                    <colorTriggerFgColor>#000000</colorTriggerFgColor>
                    <colorTriggerBgColor>#000000</colorTriggerBgColor>
                    <regexCodeList>
                        <string>^&gt;</string>
                    </regexCodeList>
                    <regexCodePropertyList>
                        <integer>1</integer>
                    </regexCodePropertyList>
                </Trigger>
            </TriggerGroup>
        </TriggerGroup>
    </TriggerPackage>
    <TimerPackage/>
    <AliasPackage/>
    <ActionPackage/>
    <ScriptPackage>
        <ScriptGroup isActive="yes" isFolder="yes">
            <name>3k_mapper</name>
            <script>-------------------------------------------------
--         Put your Lua functions here.        --
--                                             --
-- Note that you can also use external Scripts --
-------------------------------------------------
</script>
            <eventHandlerList/>
            <Script isActive="yes" isFolder="no">
                <name>mapper_globals</name>
                <script>room_desc = &quot;&quot;
room_name = &quot;&quot;
room_exits = &quot;&quot;

CARDINAL_DIRS = {&quot;n&quot;,&quot;s&quot;, &quot;e&quot;, &quot;w&quot;, &quot;ne&quot;, &quot;nw&quot;, &quot;se&quot;, &quot;sw&quot;,&quot;u&quot;, &quot;d&quot;}</script>
                <eventHandlerList/>
            </Script>
            <Script isActive="yes" isFolder="no">
                <name>onRoomSeen</name>
                <script>
function onRoomSeen(event, room_name, room_exits, room_desc)
  exit_table = room_exits:split(&quot;,&quot;)
	
  createArea()
  createRoom(room_name, exit_table)
  
end

</script>
                <eventHandlerList>
                    <string>onRoomSeen</string>
                </eventHandlerList>
            </Script>
            <Script isActive="yes" isFolder="no">
                <name>mapper_utils</name>
                <script>function createArea()
  area_id = 1
  area_name = &quot;FakeArea&quot;
  area_table = getAreaTable()
	if area_table[area_name] == nil then
		setAreaName(area_id, area_name)
	end   
end

function createRoom(room_name, room_exits_t)
	room_id = 1
   addRoom(room_id)
	setRoomName(room_id,room_name)
	setRoomArea(room_id, area_id)
	centerview(room_id)
end
	</script>
                <eventHandlerList/>
            </Script>
        </ScriptGroup>
    </ScriptPackage>
    <KeyPackage>
        <Key isActive="yes" isFolder="no">
            <name>alt+a =add to groupedrooms</name>
            <script>if groupedRooms == nil then groupedRooms = {} end
table.insert(groupedRooms,lastID)
local size = table.getn(groupedRooms)
echo(&quot;[room added to groupedRooms.groupsize = &quot;..size..&quot;]&quot;)</script>
            <command></command>
            <keyCode>65</keyCode>
            <keyModifier>134217728</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>2 south</name>
            <script></script>
            <command>south</command>
            <keyCode>50</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>4 west</name>
            <script></script>
            <command>west</command>
            <keyCode>52</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>8 north</name>
            <script></script>
            <command>north</command>
            <keyCode>56</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>6 east</name>
            <script></script>
            <command>east</command>
            <keyCode>54</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>1d</name>
            <script></script>
            <command>down</command>
            <keyCode>49</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>7u</name>
            <script></script>
            <command>up</command>
            <keyCode>55</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <Key isActive="yes" isFolder="no">
            <name>Keypad5</name>
            <script></script>
            <command>look;ex</command>
            <keyCode>53</keyCode>
            <keyModifier>536870912</keyModifier>
        </Key>
        <KeyGroup isActive="yes" isFolder="yes">
            <name>keypad walking (inline map package)</name>
            <script></script>
            <command></command>
            <keyCode>-1</keyCode>
            <keyModifier>-1</keyModifier>
            <Key isActive="yes" isFolder="no">
                <name>north</name>
                <script></script>
                <command>n</command>
                <keyCode>56</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>northwest</name>
                <script></script>
                <command>nw</command>
                <keyCode>55</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>northeast</name>
                <script></script>
                <command>ne</command>
                <keyCode>57</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>east</name>
                <script></script>
                <command>e</command>
                <keyCode>54</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>west</name>
                <script></script>
                <command>w</command>
                <keyCode>52</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>southwest</name>
                <script></script>
                <command>sw</command>
                <keyCode>49</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>southeast</name>
                <script></script>
                <command>se</command>
                <keyCode>51</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>look</name>
                <script></script>
                <command>l</command>
                <keyCode>53</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
            <Key isActive="yes" isFolder="no">
                <name>south</name>
                <script></script>
                <command>s</command>
                <keyCode>50</keyCode>
                <keyModifier>536870912</keyModifier>
            </Key>
        </KeyGroup>
    </KeyPackage>
</MudletPackage>
